@charset "utf-8";

/* -------------------------------------- */
/* common 全体共通 */
/* -------------------------------------- */
body{
  width: auto;
  margin:0;
  background-color:whitesmoke;
  padding: 0; 
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
 
}
img{
  vertical-align:bottom;
}
h1,h2,h3,p{
  margin: 0;
  padding: 0;
  font-weight: normal;
  /* font-family: 'Osaka',sans-serif; */
}
h1{
  font-weight: bold;
  font-size: 64px;
  /* font-family: 'Caveat', cursive; */
}
h3{
  font-weight: bold;
  font-size: 56px;
  /* font-family: 'Caveat', cursive; */
  color:black;
}
li{
  list-style: none;
}
/* -------------------------------------- */
/* header */
/* -------------------------------------- */
/* header */
header .Prof{
  color:gray;
}
header{
  background-color:whitesmoke;
  /* background-color: darkcyan; */

}
/* ヘッダ画像 */
header .container img{
  background-size:cover;
  width: 100%;
  height: auto;
}
header .container p{
  display: inline-block;
  width: 500px;
  color: black;
}
header h1{
  /* 下記は写真いっぱいのサイズになる */
  padding-top: 300px;
  color: black;
}

/* -------------------------------------- */
/* main（About）  */
/* -------------------------------------- */
main .container{
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
main .container .page01{
  /* width: 800px; */
  justify-content: space-between;
  padding: 32px 0px;
  display: flex;
  align-items: center;
}

main .image{
  display: block;
  margin: 0 auto;
}
main .Profile{
  text-align: left;
  font-size: 20px;
  padding-left: 64px;
}
main h1{
  text-align: center;
  padding: 60px 0px;
}
main h3{
  padding-top:60px;
  padding-bottom: 20px;
}

/* -------------------------------------- */
/* 【スキル】 */
/* -------------------------------------- */
/* スキルアイコン */
.my-white{
  color:rgba(0, 0, 0, 0.329);
  display: inline-block;
  margin-right: 10px;
}
main .page02{
  padding: 32px 0px;
}
/* スキルボックス */
main .page02 .slkillpanel{
  /* スキルBOXを横並びにします */
  display: flex;
  justify-content: space-between;
}
main .page02 .skillbox{
  padding: 24px;
  margin: 24px 0px;
  width:375px; 
  height: 350px;
  border: 2px solid gainsboro;
  box-sizing: border-box;
  background-color: white;
  color: black;
}
main .skillbox span{
  font-size: 24px;
}
main .skillbox ul{
  padding: 0px;
}
main .skillbox li{
  display: inline-block;
  width: 90px;
  margin: 8px 3px;
  font-weight: bold;
}
.page02 .slilltext{
  line-height: 25px;
  /* background-color: #aaa; */
  text-align: left;
  font-size: 20px;
  /* padding-bottom: 8px; */
}

/* -------------------------------------- */
/* 【WORK】 */
/* -------------------------------------- */
.page03 .copylp{
  /* width: 300px; */
  /* height: 200px; */
  display: flex;
  justify-content: space-between;
  text-align: unset;
  padding: 0px;
  overflow: hidden;
}
.page03 .work_border{
  border-bottom: solid 1px rgb(164, 164, 164); 
}
.page03 div .pic{
  width: 30%;
  padding-top: 20px;
}
.page03 img{
  transition: 0.3s;
}
.page03 img:hover{

  opacity: 0.2;
  transform: scale(1.1);
  transition-duration: 0.3s;
}
.page03 .workpanel{
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  width:100%; 
  /* height: 500px; */
  height: auto;
  border: 2px solid gainsboro;
  box-sizing: border-box;
  background-color: white;
  color: black;
  text-align: left;
}
/* -------------------------------------- */
/* 【footer】 */
/* -------------------------------------- */
footer{
  color:#aaa;
  /* margin: 0 auto; */
  text-align: center;
  padding: 60px 0px;
}

footer h3{
  padding-top: 40px;
  padding-bottom: 40px;
  color:black;
}
footer .applink{
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
}

/* copyrightエリア */
footer .copyright{
  display: block;
  padding-top: 70px;
  padding-bottom: 70px;
}

/* ----------------------------------------------- */
/* ページトップへ */
/* ----------------------------------------------- */
#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background:gray;
  /* opacity: 0.6; */
  border-radius: 5px;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f106';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/* ----------------------------------------------- */
/* ハンバーガーメニュー処理 */
/* ----------------------------------------------- */
/* ハンバーガーメニュー　アイコン */
header .sp-menu {
  margin: 0;
  /* margin-left: auto; */
  text-align: center;
}

/* 🈪のスタイリング */
.sp-menu #open2 {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 32px;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  /* カーソル移動時固定する */
  position: fixed;
}

/* // ハンバーガー三本を消す
/* 🈪のスタイリング 非表示*/
.sp-menu #open2.hide{
  display: none;
}

/*Menuのスタイリング  */
  .overlay {
    font-size: 32px;
    color:black;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 64px;
    opacity: 0;
    pointer-events: none;
    /* transition:opacity 0.6s; */
    /* ふわっと表示させる */
    transition: opacity .6s;
  }

  /* メニュー画面を開く */
  .overlay.show {
    opacity: 1;
    /* マウスを */
    pointer-events: auto;
    /* background-color:grey; */
  }

  /* 「×」を右上に */
  .overlay #close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 32px;
    line-height: 50px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    /* カーソル移動時固定する */
    position: fixed;
  }

/* LISTの●を非表示 */
.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
/*  */
.overlay li {
  margin-top: 24px;
  /* 下からふわっと */
  opacity: 0;
  transform: translateY(16px);
  transition: opacity 0.3s, transform .3s;
}
.overlay li a{
  color: black;
  text-decoration: none;
}
/* 下からふわっと */
/* overlayがshowの場合 */
.overlay.show li {
  /* menuを表示 */
  opacity: 1;
  transform: none;
}

/* Menu1⇒ Menu2⇒ Menu3 の順に表示*/
.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}
.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}
.overlay.show li:nth-child(5) {
  transition-delay: .5s;
}

@media(min-width: 100px) and (max-width: 800px){
  h3{
    font-size: 40px;
  }
/* ----------------------------------------------- */
/* Top */
/* ----------------------------------------------- */
  header .container p{
    width: 300px;
  }
  header .container{
    background-position:30% 40%;
  }
  /* 「Portforio」フォント */
  header h1{
    padding-top: 140px;
  }
/* ----------------------------------------------- */
/* About */
/* ----------------------------------------------- */

main .container{
    width: auto;
    margin: 0
  }
  main .container .page01{
    display:block;
    margin: 0px  auto;
    padding: 0px 0px;
    width: 95%;
    /* background-color: burlywood; */
  }
  main .image{
    display: block;
    margin: 0;
  }
  main .Profile{
    text-align: left;
    font-size: 20px;
    padding-top: 16px;
    padding-left: 16px;
  }
  main h1{
    margin:0px;
    padding: 0px;
  }
  main h3{
    margin:0px;
  }
/* ----------------------------------------------- */
/* スキルBOX */
/* ----------------------------------------------- */
  main .page02 .slkillpanel{
    /* スキルBOXを縦並びにします */
    display: block;
    /* margin: 0 auto; */
  }
  main .page02 .skillbox{
    margin: 20px auto;
    padding: 10px 0px;
    box-sizing: border-box;
  }
  /* フロントエンド、DB、その他 */
  main .page02 span{
    font-size: 16px;
  }
  .page02 .slilltext{
    width: 95%;
    text-align: left;
    padding-top: 16px;
    padding-left: 16px;
  }
/* -------------------------------------- */
/* 【WORK】 */
/* -------------------------------------- */
.page03 .copylp{
    display: block;
    /* float: left; */
    /* background-color: brown; */

    /* margin-bottom: 8px; */
  }
  .page03 img{
    margin-bottom: 16px;
  }

  .page03 .workpanel{
    font-size: 12px;
    /* height: 650px;
     */
     height: auto;
    margin-bottom: 30px;
  }
}